@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <ul>
        <li>@Html.ActionLink("英数字のみ: abcdef.txt", "File", new { name = "abcdef.txt" })</li>
        <li>@Html.ActionLink("空白有り: a a.txt", "File", new { name = "a a.txt" })</li>
        <li>@Html.ActionLink("英数字以外: あいうえお.txt", "File", new { name = "あいうえお.txt" })</li>
    </ul>

</div>
